<!DOCTYPE html >
<html>
<meta charset="UTF-8">
<body>
	<p id = 'demo1'>
		lala 
	</p>
	<script type="text/javascript" src='./js/script.js'></script>
	<div>
	<button type="button" onclick="changeElement()">click</button>
	</div>
	<div>
	<img src="./img/eg_bulboff.gif" id='myeg' onclick="changeColor()">
	</div>
	<button  type="button" onclick="changeColor()">lululu</button>
	<div>
		<input type="text" name="输入" id='inputint'>
		<button type="button" onclick="check()">fuck</button>
	</div>
	<div>
		<script type="text/javascript">	
			document.getElementById('p1').innerHTML= 'You Better';
		</script>
	</div>
</body>
</html>